@import url("./font.css");

:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --primary: #9A8C98;
  --secondary: #F2E9E4;
  --ternary: #4A4E69;

  --primary-rgb: 154, 140, 152;
  --secondary-rgb: 242, 233, 228;
  --ternary-rgb: 74, 78, 105;
}

/* @media (prefers-color-scheme: dark) {

} */

html {
  overflow-y: scroll;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  background-color: var(--primary);
  font-family: Lora !important;
  transition: 0.3s;
}
body {
  overflow-y: visible;
  position: relative;
  height: unset;
}
html,
body {
  overflow-x:visible;
  margin: 0;
  font-family: Lora;
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: var(--secondary) var(--primary); /* scroll thumb and track */
}

a {
  text-decoration: none;
  color: var(--secondary);
}

body::-webkit-scrollbar {
  width: 9px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: var(--primary); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--secondary); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid var(--primary); /* creates padding around scroll thumb */
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
