@import url("./font.css");

:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --primary: #dda15e;
  --secondary: #fefae0;
  --ternary: #bc6c25;

  --primary-rgb: 221, 161, 94;
  --secondary-rgb: 254, 250, 224;
  --ternary-rgb: 188, 108, 37;
}

/* @media (prefers-color-scheme: dark) {

} */

html {
  overflow-y: scroll;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  background-color: var(--primary);
  font-family: Lora !important;
}
body {
  overflow-y: visible;
  position: relative;
  height: unset;
}
html,
body {
  overflow-x: hidden;
  margin: 0;
  font-family: Lora;
}

a {
  text-decoration: none;
  color: var(--secondary);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
