.container {
  width: 400%;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.landing {
  background-color: red;
  flex: 1;
}

.summary {
  background-color: green;
  flex: 1;
}

.projects {
  background-color: blue;
  flex: 1;
}

.contact {
  background-color: yellow;
  flex: 1;
}

/* 

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

MOBILE 
@media (max-width: 700px) {
}

Tablet and Smaller Desktop
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
} 

@media (prefers-color-scheme: dark) {

} */
