.landingContainer {
  display: flex;
  margin: auto;
  justify-content: center;
}

.content {
  /* width: fit-content; */
  max-width: 60vw;
}

.header {
  font-size: xx-large;
  font-weight: bold;
  color: var(--secondary);
}

.summary {
  max-width: 50vw;
  width: 30rem;
  color: var(--secondary);
}

.resumeButton {
  margin-top: 1rem;
}

.arrow {
  color: var(--secondary);
  position: absolute;
  right: 0;
  top: 50%;
  margin-right: 1rem;
  transform: scale(3);
}

/* MOBILE  */
@media (max-width: 700px) {
  .titles {
    width: 50vw;
    height: 20vh;
    overflow: hidden;
  }

  .arrow {
    display: none;
  }
}