.projectsContainer {
  display: flex;
  flex-direction: column;
  overflow: visible;
}

.scrollContainer {
    align-self: center;
  height: max-content;
  overflow: scroll;
  /* position: absolute; */
  /* overflow: visible; */
  width: 70%;
}
