.container {
  display: flex;
  flex-direction: row;
  position: relative;
  font-size: large;
  overflow-y: hidden;
  overflow-x:visible;
}

.backdrop {
  color: rgba(var(--ternary-rgb), 0.2);
  font-size:large;
}

.bottom {
  align-self: flex-end;
}

.center {
  align-self: center;
}

.top {
  align-self: top;
}

.content {
  position: absolute;
  align-self: center;
  color: var(--secondary);
  width: 100%;
}

.text {
  width: 40%;
  margin: 0 auto;
  /* font-size: x-large; */
}

.highlight {
  color: var(--ternary);
  font-weight: bold;
}

/* MOBILE  */
@media (max-width: 700px) {
  .container {
    font-size: small;
    overflow: hidden;
    width: 100vw;
  }

  .text {
    width: 80%;
    text-align: justify;
  }

  .backdrop {
    font-size: small;
  }
}
