.projectsContainer {
  display: flex;
  flex-direction: column;
  overflow: visible;
}

.scrollContainer {
  align-self: center;
  height: max-content;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 80%;
}

.scrollContainer::-webkit-scrollbar {
  width: 9px; /* width of the entire scrollbar */
}

.scrollContainer::-webkit-scrollbar-track {
  background: var(--primary); /* color of the tracking area */
}

.scrollContainer::-webkit-scrollbar-thumb {
  background-color: var(--secondary); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid var(--primary); /* creates padding around scroll thumb */
}

/* MOBILE  */
@media (max-width: 700px) {
  .scrollContainer {
    margin-top: 5rem;
  }
}
